.first{
    background-color:#eaf8ea;
}

.container{
    margin:20px;
}

.photo1{
    width:15%;
}
.sing-in{
   
    background-color: teal;
    border-radius: 15px;
}
.hold-on{
    color:rgb(93, 192, 93);
}
.container h1{
    font-size: 50px;
    font-weight: bold;

}
.container h6{
    color:red;
    font-size:10px;

}

.container p{
    color: grey;
    font-size:18px;
}
.icon img{
    width: 15%;
    margin:10px;
    text-align: center;
}

.icon img:hover{
    width:20%;
    
}

.on-course{
    font-size: 30px;
    text-align: center;
    color:navy;

}

.card img{
    width:100%;
}

.card-footer img{
    width:5%;
}

.test-nial img{
    width:20%;
    display:block;
    margin:0,auto;
}
.test-nial h1{
    font-size:35px;
    text-align:center;
}

.footer{
    color:#d3d3d3;
    background-color:black;
    height:450px;
}

.footer .footer-content{
   margin:20px;
}
.footer .footer-bottom{
    color:#686868;
    height:50px;
    text-align:center;
}

button{
    color:#d3d3d3;
    background-color:teal;
    border-radius:15px;
}